

body {
    display: grid;
    background-color: #c2c5aa;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    gap: 20px;
    column-gap: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    grid-template-areas: 
    "header header"
    "navigation maincontent";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

div#navigationBar {
    grid-area: navigation;
}

nav#horizontalNavigation {
    background-color: #936639;
    outline: 5px solid #7f4f24;
    padding-top: 15px;
    padding-right: 5px;
    padding-bottom: 15px;
    height: fit-content;
    
}
header {
    grid-area: header;
}

div#everythingElse {
    grid-area: maincontent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px; 
    padding-right: 20px;
    align-content: start;
}

.card {
    background-color: #936639; 
    outline: 5px solid #7f4f24; 
    display: flex;
    flex-direction: row;
    height: 23vh;
}
.context {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}


.picture {
    background-color: #936639;
    flex: 0 0 40vh;
    border-right: 5px solid #7f4f24;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.context-text {
    padding: 15px;
}

.context-text p {
    margin: 0;
}

div#everythingElseForm {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    grid-area: maincontent;
    padding-left: 10px;
    row-gap: 9px;
    background-color: #936639;
    outline: 5px solid #7f4f24;
    height: 90%;
    grid-template-areas:
    "description"
    "form";
}

div#description {
    border: 5px solid #7f4f24;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height:fit-content;
}
div#form {
    border: 5px solid #7f4f24;
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height:fit-content;
}

#form label {
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#form input{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div#everythingElseGettingStarted {
    display: grid;
    grid-template-rows: auto auto;
    align-content: start;
    grid-area: maincontent;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin-right: 15px;
    row-gap: 9px;
    background-color: #936639;
    outline: 5px solid #7f4f24;
    min-height: 90%;
    height: fit-content;
    grid-template-areas:
    "description"
    "form";
    
}

.accordion-body {
    background-color: #936639;
}


.accordion-button.collapsed {
    background-color: #a47148;
}


.accordion-button:not(.collapsed) {
    background-color: #7f4f24;
}

.accordion-button.collapsed {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.accordion-button:not(.collapsed) {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.accordion-body {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav > ul {
    line-height: 1.5em;
    display: grid;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*background-color: #0b1320;*/
    align-content: start;
    text-align: center;
    gap: 15px;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav > ul > li {
    display: inline;
}
nav > ul > li > a {
    text-decoration: none;
    color:rgb(228, 214, 169);
    font-weight: bold;
    
}
nav > ul > li > a:hover {
    color: #ffffff;
}

div.gallery {
    grid-area: maincontent;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

div.gallery-item {
    background-color: #936639;
    margin: 5px;
    border: 5px solid #7f4f24;
    width: 180px;
    display:flex;
    flex-direction: column;

}

div.gallery-item:hover {
    border: 5px solid #573518;
}

div.gallery-item img {
    width: 100%;
    height: 160px; 
    object-fit: contain; 
    padding-top: 10px; 
    image-rendering: pixelated;
}
div.gallery-item div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-grow: 1; 
}

div#everythingElseClasses {
    grid-area: maincontent;
    padding-left: 10px;
    padding-right: 20px;
}


div.col div.card {
    background-color: #936639;
    border: 10px solid #7f4f24;
    image-rendering: pixelated;
    height: 100%;
    
}

div.col div.card img.card-img-top {
    height: 200px;         
    object-fit: contain;   
    padding-top: 15px;     
}